{% extends 'base.html.twig' %}

{% block title %}Home Page {% endblock %}
{% block body %}

 
        <div class="body-wrapper">
          <div class="container-fluid">
            <!--  Owl carousel -->
            <div class="owl-carousel counter-carousel owl-theme">
              <div class="item">
                <div
                  class="card border-0 zoom-in bg-primary-subtle shadow-none"
                >
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/icon-user-male.svg"
                        width="50"
                        height="50"
                        class="mb-3"
                        alt=""
                      />
                      <p class="fw-semibold fs-3 text-primary mb-1">
                       Licencies
                      </p>
                      <h5 class="fw-semibold text-primary mb-0">15</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div
                  class="card border-0 zoom-in bg-warning-subtle shadow-none"
                >
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/icon-briefcase.svg"
                        width="50"
                        height="50"
                        class="mb-3"
                        alt=""
                      />
                      <p class="fw-semibold fs-3 text-warning mb-1">Educateurs</p>
                      <h5 class="fw-semibold text-warning mb-0">05</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 zoom-in bg-info-subtle shadow-none">
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/icon-mailbox.svg"
                        width="50"
                        height="50"
                        class="mb-3"
                        alt=""
                      />
                      <p class="fw-semibold fs-3 text-info mb-1">Contacts</p>
                      <h5 class="fw-semibold text-info mb-0">15</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 zoom-in bg-danger-subtle shadow-none">
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/icon-favorites.svg"
                        width="50"
                        height="50"
                        class="mb-3"
                        alt=""
                      />
                      <p class="fw-semibold fs-3 text-danger mb-1">Categories</p>
                      <h5 class="fw-semibold text-danger mb-0">5</h5>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
            
                    
        
        

  {% endblock %}


