{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}

 <div class="col-md-12">
    <h5 class="card-title fw-semibold mb-4">Accueil</h5>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="/assets/images/backgrounds/categories.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Catégories</h5>
                    <p class="card-text">
                        Les catégories de licenciés du club.
                    </p>
                    <a href="{{ path('app_categorie_index') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="/assets/images/backgrounds/licencies.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Licenciés</h5>
                    <p class="card-text">
                        Les licenciés inscrits au sein du club.
                    </p>
                    <a href="{{ path('app_licencie_index') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="/assets/images/backgrounds/contacts.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <p class="card-text">
                        Les contacts de nos licenciés.
                    </p>
                    <a href="{{ path('app_contact_index') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="/assets/images/backgrounds/educateurs.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Educateurs</h5>
                    <p class="card-text">
                        Les licenciés qui sont aussi éducateurs au sein du club.
                    </p>
                    <a href="{{ path('app_educateur_index') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock %}


