<form method="post" action="{{ path('app_educateur_delete', {'id': educateur.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ educateur.id) }}">
    <button class="btn btn-danger m-1" type="submit">Supprimer</button>
</form>
