
{# templates/educateur/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}New Educateur{% endblock %}

{% block body %}
 <h1>Create new Educateur</h1>
   
    <div class="col-lg-6">  
             
            <div class="card-body p-4">
            {{ include('educateur/_form.html.twig', {'form': form}) }}
           </div>
    </div>
    
        <div class="mb-4">
        <a href="{{ path('app_educateur_index') }}" class="btn btn-success">back to list</a>
        </div>
{% endblock %}
